.events-page__content {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.events-page__line {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}

.events-page__top .events-visits-chart {
    height: 100%;
}

.events-page__top .events-visits-chart canvas {
    min-height: 200px;
    max-height: 90%;
}

.events-page__left {
    width: 69%;
}

.events-page__right {
    width: 29%;
}

.events-page__right-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.events-page__right-top-item {
    width: 48%;
}

.events-page-value {
    font-weight: 600;
    font-size: 32px;
}

.events-page-subtitle {
    color: #a0afc4;
    font-size: 12px;
    margin-top: 10px;
}

.events-visits-chart {
    height: 340px;
    margin-bottom: 20px;
}

.events-visits-chart:last-child {
    margin-bottom: 0;
}

.events-page__tops {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.events-page__tops .top-five-block {
    width: 48%;
    min-height: 320px;
}

@media screen and (max-width: 1500px){
    .events-page__right-top-item .dashboard-block-title span {
        font-size: 14px;
    }

    .events-page-value {
        font-size: 24px;
    }

    .views-gte-min__title {
        font-size: 12px;
    }
}

@media screen and (max-width: 1300px){
    .events-page__right-top {
        flex-direction: column;
        justify-content: space-between;
    }

    .events-page__right-top-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .events-page__right-top-item:last-child {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 1200px){
    .events-page__line {
        flex-wrap: wrap;
    }

    .events-page__right,
    .events-page__left {
        width: 100%;
    }

    .events-page__top .events-page__right {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 20px;
    }

    .events-page__right-top {
        flex-direction: row;
        margin: 0;
        height: unset;
        width: 55%;
    }

    .events-page__right-top-item {
        width: 49%;
        margin: 0;
    }

    .events-page__views-gte-min {
        width: 43%;
    }

    .events-visits-chart {
        min-height: 200px;
        max-height: 340px;
    }
}

@media screen and (max-width: 950px){
    .events-page__views-gte-min {
        width: 100%;
    }

    .events-page__right-top {
        width: 100%;
        margin-bottom: 20px;
    }

    .events-page__top .events-page__right {
        flex-direction: column;
    }
}

@media screen and (max-width: 756px) {
    .events-page__tops {
        flex-direction: column;
    }

    .events-page__tops .top-five-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .events-visits-chart {
        height: 70vw;
    }

    .dashboard-block-content {
        height: 85%;
    }
}
