.menu {
    display: flex;
    margin-right: 30px;
    padding: 15px 0;
}

.menu-item {
    margin-right: 30px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

.menu-item.current a {
    font-weight: 700;
}

@media screen and (max-width: 700px){
    .menu {
        display: none;
        margin-right: 0;
    }

    .mobile-header .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin-right: 0;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .menu-item a {
        font-size: 16px;
    }
}
